{% load static %}
<!DOCTYPE html>

 			<!-- Header -->
			{% include 'head.html' %}
			<!-- /header -->

			<!-- Select2 CSS -->
			<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
			<!-- Sidebar -->
			{% include 'sidebar.html' %}
			<!-- /Sidebar -->

			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Adicionar Conta</h4>
							<h6>Criar Nova Conta</h6>
						</div>
				        {% if mensagem != "" %}
						 <div class="closebtn">
							 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							 {{ mensagem }}
						</div>
						{% endif %}
					</div>
					<!-- /add -->
					<form method="POST" action="{% url 'criarconta' %}">
						{% csrf_token %}
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Nome da Conta</label>
										<input type="text" name="nomeConta">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Tipo de Conta</label>
										<select id="categoria" name="categoria" class="select">
											<option>Escolha a Categoria</option>
											{% for c in categoria %}
											<option value="{{ c.id }}">{{ c.categoria }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa de Wire</label>
										<input type="text" name="wire">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa de Depósito</label>
										<input type="text" name="taxas">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Saldo Inicial</label>
										<input type="text" name="saldoinicial" value="0">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Valor do Dólar Médio</label>
										<input type="text" name="valordolarmedio" value="0">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa Débito</label>
										<input type="text" name="taxa_debito" value="0">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 1x</label>
										<input type="text" name="taxa1" value="0">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 2x</label>
										<input type="text" name="taxa2" value="0">
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 3x</label>
										<input type="text" name="taxa3" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 4x</label>
										<input type="text" name="taxa4" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 5x</label>
										<input type="text" name="taxa5" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 6x</label>
										<input type="text" name="taxa6" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 7x</label>
										<input type="text" name="taxa7" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 8x</label>
										<input type="text" name="taxa8" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 9x</label>
										<input type="text" name="taxa9" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 10x</label>
										<input type="text" name="taxa10" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 11x</label>
										<input type="text" name="taxa11" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 12x</label>
										<input type="text" name="taxa12" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 13x</label>
										<input type="text" name="taxa13" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 14x</label>
										<input type="text" name="taxa14" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 15x</label>
										<input type="text" name="taxa15" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 16x</label>
										<input type="text" name="taxa16" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 17x</label>
										<input type="text" name="taxa17" value="0">
									</div>
								</div>
<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Taxa 18x</label>
										<input type="text" name="taxa18" value="0">
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Descrição</label>
										<textarea type="text" name="descricao" rows="4" cols="50">
										</textarea>
									</div>
								</div>
								<div class="col-lg-12">
									<input type="submit" value="Cadastrar" class="btn btn-submit me-2">
									<a href="/listarconta/" class="btn btn-cancel">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
					</form>
					<!-- /add -->
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		 
		<!-- jQuery -->
 			{% include 'footer.html' %}

        <!-- Select2 JS -->
		<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

		<!-- Sweetalert 2 -->
		<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
		<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>


		
    </body>
</html>