{% load static %}
<!DOCTYPE html>

 			<!-- Header -->
			{% include 'head.html' %}
			<!-- /header -->

			<!-- Select2 CSS -->
			<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
			<!-- Sidebar -->
			{% include 'sidebar.html' %}
			<!-- /Sidebar -->

			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Cadastrar Localizacao</h4>
							<h6>Dados da Localizacao</h6>
						</div>
				        {% if mensagem != "" %}
						 <div class="closebtn">
							 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  							Localização Cadastrada.
						</div>
						{% endif %}
					</div>
					<!-- /add -->
					<form method="POST" action="{% url 'cadastrolocalizacao' %}">
						{% csrf_token %}
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Nome da Localidade</label>
										<input type="text" name="nome_localidade">
									</div>
								</div>

								<div class="col-lg-12">
									<input type="submit" value="Cadastrar" class="btn btn-submit me-2">
									<a href="/cadastrolocalizacao/" class="btn btn-cancel">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
					</form>
					<!-- /add -->
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
<table class="table datatable ">
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th>Data de Cadastro</th>
											<th>Nome da Localidade</th>
											<th>Apagar</th>
										</tr>
									</thead>
									<tbody>
									{% for localidade in localidades %}
										<tr>
											<td></td>
											<td></td>
											<td>{{ localidade.data }}</td>
											<td>{{ localidade.nome_localidade }}</td>
											<td><a class="confirm-text"  href="{% url 'cadastrolocalizacao' %}?id_localidade={{ localidade.id_localidade }}&funcao=apagar" onclick="javascript:void(0);">
												<img src="{% static 'img/icons/delete.svg' %}" alt="img">
												</a></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
		<!-- jQuery -->
 			{% include 'footer.html' %}

        <!-- Select2 JS -->
		<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

		<!-- Sweetalert 2 -->
		<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
		<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>


		
    </body>
</html>