<!DOCTYPE html>

<html lang="pt-br" class="light-style">

<head>
    <title>AF CELL STORE - Comprovante de venda</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description"           content="AF CELL STORE">
    <meta name="viewport"              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <meta property="og:title" content="Seu comprovante digital." />
    <meta property="og:image" content="images/unicatechlogo.jpeg" />

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/uikit.css">

    <style>
        html,
        body {
            background: #fff !important;
        }

        body> :not(.invoice-print) {
            display: none !important;
        }

        .invoice-print {
            font-size: 15px !important;
        }

        .invoice-print * {
            border-color: #aaa !important;
            color: #000 !important;
        }
    </style>
</head>

<body>
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>

    <!-- Content -->

    <div class="invoice-print p-5">

        <div class="row">

            <div class="col pb-4">

                <div class="media align-items-center mb-2">

                    <div>
                                                    <img src="../../empresa/logo/2855_5ee5afb33baf149f774df52144718217.jpeg" alt="logo" style="height: 80px;">
                                            </div>

                    <div class="media-body ml-2">
                        <div class="text-big font-weight-bold">AF CELL STORE</div>
                        <div class="small">CNPJ ../-</div>
                        <div class="small">  SOBRAL - CE - CEP 62100-000</div>
                        <div class="small">WHATSAPP (88) 9 9306-2222</div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col pb-2">

                <h6 class="text-big font-weight-bold">
                    COMPROVANTE
                </h6>

                <div class="small">CÓDIGO: <strong class="font-weight-semibold">400954</strong></div>
                <div class="small">VALOR: <strong class="font-weight-semibold">R$ 7.699,00</strong></div>
                <div class="small">FORMA DE PAGAMENTO: <strong class="font-weight-semibold">MÚLTIPLA</strong></div>
                <div class="small">DATA DA VENDA: <strong class="font-weight-semibold">28/03/2025</strong></div>
                <div class="small">VALIDADE DA GARANTIA: <strong class="font-weight-semibold">27/03/2026</strong></div>

            </div>

        </div>

        <hr class="mb-4">

        <div class="row d-flex align-items-start mt-4">

            <div class="col-12 col-md-4 mb-4">

                <div class="font-weight-bold mb-2">Cliente</div>
                <div>JOYCE CARVALHO DE OLIVEIRA</div>
                                                <div>&nbsp;</div>
                <div>(88) 9 9412-6292</div>
                <div></div>
                <div>&nbsp;</div>
                <div>RUA ANTONIO XAVIER</div>
                <div></div>
                <div></div>
                <div></div>
                <div>ALCÂNTARAS - CE</div>
                <div>62120-000</div>

            </div>

            <div class="col-12 col-md-8 mb-4">

                <div class="font-weight-bold mb-2">Aparelho</div>

                <table>
                    <tbody>
                        <tr>
                            <td class="pr-3">MARCA:</td>
                            <td>APPLE</td>
                        </tr>
                        <tr>
                            <td class="pr-3">MODELO:</td>
                            <td>IPHONE 16 PRO MAX</td>
                        </tr>
                        <tr>
                            <td class="pr-3">COR:</td>
                            <td>DESERT TITANIUM</td>
                        </tr>
                        <tr>
                            <td class="pr-3">ARMAZENAMENTO:</td>
                            <td>256 GB</td>
                        </tr>
                        <tr>
                            <td class="pr-3">MEMÓRIA:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="pr-3">IMEI:</td>
                            <td>35 348462 569822 9</td>
                        </tr>
                        <tr>
                            <td class="pr-3">NÚMERO DE SÉRIE:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="pr-3">SAÚDE DA BATERIA:</td>
                            <td>100%</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="mt-4">
            <strong>Condições da garantia:</strong>
            <br />
            Essa garantia cobre somente os defeitos de funcionamento das peças e componentes do equipamento caracterizado defeitos de fabrica.        </div>

        <div class="mt-4">
            <strong>Limitações da garantia:</strong>
            <br />
            A garantia não será coberta se o mesmo aparelho vier a ser danificado por mau uso (ex: molhado, queda, pancada, pressão, carregador paralelo não homologados e afins); também será cancelada a garantia se o aparelho sofrer qualquer tipo de reparo por pessoas não autorizadas, durante o período estabelecido.        </div>

                    <div class="mt-4">
                <strong>Eu JOYCE CARVALHO DE OLIVEIRA, declaro estar ciente e de acordo com as condições e limitações de garantia descritas neste comprovante, aplicadas exclusivamente ao aparelho descrito acima.</strong>
            </div>

            <div class="text-center mt-5">
                <strong>JOYCE CARVALHO DE OLIVEIRA</strong><br/><span class="small">CLIENTE</span>
            </div>

    </div>

    <!-- / Content -->

</body>

</html>



  