{% load static %}
{% load l10n %}
<!DOCTYPE html>
    <style>
        .autocomplete-items {
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /* position the autocomplete items to be the same width as the container: */
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    height: 70%;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}



/* ==== Larguras das colunas replicadas do fazervendas.html ==== */
#table_field {
    table-layout: fixed;
    width: 100%;
}
#table_field th, #table_field td {
    vertical-align: middle;
    padding: 8px;
}
/* Produto (flexível, mais largo) */
#table_field th:nth-child(1),
#table_field td:nth-child(1) {
    width: auto;
    min-width: 220px;
}
/* Quantidade (estreito, centralizado) */
#table_field th:nth-child(2),
#table_field td:nth-child(2) {
    width: 10%;
    min-width: 60px;
    max-width: 90px;
    text-align: center;
}
/* Preço e Total (iguais e maiores) */
#table_field th:nth-child(3),
#table_field td:nth-child(3),
#table_field th:nth-child(4),
#table_field td:nth-child(4) {
    width: 22%;
    min-width: 120px;
}
/* Evita quebra feia em telas pequenas */
@media (max-width: 768px) {
    .table-responsive { overflow-x: auto; }
    #table_field th, #table_field td { white-space: nowrap; }
}

</style>

 			<!-- Header -->
			{% include 'head.html' %}
			<!-- /header -->

			<!-- Select2 CSS -->
			<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
			<!-- Sidebar -->
			{% include 'sidebar.html' %}
			<!-- /Sidebar -->

		<!-- Main Wrapper -->
			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Compras</h4>
							<h6>Adicione/Edite sua Compra. </h6>
							<h9>{% if dolarMedio != -1 %}
								<b>Dólar Médio R${{dolarMedio | floatformat:4}}</b>
								{% else %}
								<b>Não há saldo para compras em dólar</b>
								{% endif %}
							</h9>
						</div>
						{% if mensagem != "" %}
						 <div class="closebtn">
							 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							 {{ mensagem }}
						</div>
						{% endif %}
					</div>
					<form id="formCompra" method="POST" action="{% url 'fazercompras' %}">
					{% csrf_token %}
					<input type="hidden" name="identificadorCompra" value="{{identificadorCompra}}">
					<input type="hidden" name="dolarMedio" value="{{dolarMedio | floatformat:4}}">
					<input type="hidden" name="idConta" value="{{idConta}}">
					<input type="hidden" name="tipo_produto" value="{{tipo_produto}}">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Fornecedor</label>
										<div class="row">
											<div class="col-lg-10 col-sm-10 col-10">
           										 <input id="fornecedorInput" type="text" placeholder="Fornecedor" autocomplete="off"
												 {% for f in fornecedores %}
													 {% if f.id == id_fornecedor_cadastro %} value="{{f.nomeFornecedor}}"{% endif %}
												{% endfor %}>
												<input type="hidden" id="fornecedorHidden" name="fornecedor"
												{% for f in fornecedores %}
														   {% if f.id == id_fornecedor_cadastro %} value="{{f.id}}" {% endif %}
												{% endfor %}>
                                                <div id="fornecedorAutocompleteList" class="autocomplete-items">
        								        </div>
										</div>
									<div class="col-lg-2 col-sm-2 col-2 ps-0">
										<div class="add-icon">
											<a href="javascript:void(0);" onclick="openModal()"><img src="{% static 'img/icons/plus1.svg' %} " alt="img"></a>
									</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Data da Compra </label>
										<div class="input-groupicon">
											<input type="text" placeholder="DD-MM-AAAA" class="datetimepicker" name="dataCompra" value="{{dataCompra}}">
											<div class="addonset">
												<img src="{% static 'img/icons/calendars.svg' %}" alt="img">
											</div>
										</div>
									</div>
								</div>


		<!-- parte do indiano -->


            <div class="input-field">

                <div class="table-responsive">

                    <table class="table table-bordered text-center" id="table_field">

                        <tr>

                            <th>Produto</th>

                            <th>Quantidade</th>

                            <th>Preço</th>

							<th> Total </th>

                        </tr>

                        <tr>
							{% if editarCompra == 0 %}
							<div class="row">
                            <td><select name="produto" class="select">
								<option value="0"> Selecione o Produto</>
								{% for p in produtos %}
											<option value="{{ p.id }}" >{{ p.NomeProduto }}</option>
								{% endfor %}

							</select></td>

                            <td><input type="text" class="form-control" name="qtde" id="tab1" size="2" maxlength="3" autocomplete="off"></td>

							<td><input type="text" class="form-control" name="preco" id="tab1" size="2" maxlength="9" autocomplete="off"></td>

							<td><input type="text" class="form-control" name="total" id="tab1" size="2" autocomplete="off"></td>

							<td><input class="btn btn-danger" name="remove" id="remove" value="Apagar" type="button">
							</td>
							</div>
						</tr>
						     <tr>

							<div class="row">
                            <td><select name="produto" class="select">
								<option value="0"> Selecione o Produto</option>
								{% for p in produtos %}
											<option value="{{ p.id }}" >{{ p.NomeProduto }}</option>
								{% endfor %}

							</select></td>

                            <td><input type="text" class="form-control" name="qtde" id="tab1" size="2" maxlength="3" autocomplete="off"></td>

							<td><input type="text" class="form-control" name="preco" id="tab1" size="2" maxlength="9" autocomplete="off"></td>

							<td><input type="text" class="form-control" name="total" id="tab1" size="2" autocomplete="off"></td>

							<td><input class="btn btn-danger" name="remove" id="remove" value="Apagar" type="button">
							</td>
							</div>
						</tr>
						                        <tr>

							<div class="row">
                            <td><select name="produto" class="select">
								<option value="0"> Selecione o Produto</option>
								{% for p in produtos %}
											<option value="{{ p.id }}" >{{ p.NomeProduto }}</option>
								{% endfor %}

							</select></td>

                            <td><input type="text" class="form-control" name="qtde" id="tab1" size="2" maxlength="3" autocomplete="off"></td>

							<td><input type="text" class="form-control" name="preco" id="tab1" size="2" maxlength="9" autocomplete="off"></td>

							<td><input type="text" class="form-control" name="total" id="tab1" size="2" autocomplete="off"></td>

							<td><input class="btn btn-danger" name="remove" id="remove" value="Apagar" type="button">
							</td>
							</div>
						</tr>



							{% endif %}

							<div class="row">
							{% for c in compra_identificada %}
                            <td><select name="produto" class="select">
								<option value="0"> Selecione o Produto</option>
								{% for p in produtos %}
											<option value="{{ p.id }}" {% if p.id == c.idProduto %} SELECTED {% endif %}>{{ p.NomeProduto }}</option>
								{% endfor %}

							</select></td>

                            <td><input type="text" class="form-control" name="qtde" id="tab1" size="2" maxlength="3" value="{{ c.quantidadeProduto }}"></td>

							<td><input type="text" class="form-control" name="preco" id="tab1" size="2" maxlength="9" value="{{ c.precoProduto }}"></td>

							<td><input type="text" class="form-control" name="total" id="tab1" size="2"></td>

							<td><input class="btn btn-danger" name="remove" id="remove" value="Apagar" type="button">
							</td>
							</div>
						</tr>
						{% endfor %}
						<tr></tr>

                    </table>

<div class="row mt-4">
    <div class="col-lg-4 col-sm-6 col-12">
        <div class="form-group text-center p-3" style="background: #f8f9fa; border-radius: 12px; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
            <label class="form-label" style="font-size: 1.1rem; font-weight: 600; color: #333;">
                💰 Valor Total da Compra
            </label>
            <input type="text" id="valorTotalCompra" class="form-control text-center"
                   style="font-size: 1.2rem; font-weight: bold; color: #198754;"
                   readonly>
        </div>
    </div>
</div>
                    <div class="row">

                        <div class="col-12 text-right">

                            <input type="button" name="add" id="add" value="Adicionar Linha" class="btn btn-success">

                        </div>


						<div class="row">

	                        <div class="col-lg-3 col-sm-6 col-12">
								<label>Conta de Origem</label>
									<select name="contaOrigem" class="select">
										{% for c in contasDetalhadas %}
										<option value="{{ c.id }}" {% if c.id == idConta %} SELECTED {% endif %}>{{ c.nomeConta }} {{ c.moeda }}{{ c.saldo|floatformat:2 }}</option>
										{% endfor %}
									</select>
								</div>

								<div class="col-lg-3 col-sm-6 col-12">
									<input type="checkbox" name="taxa_wire"> Existe taxa de transferência bancária (TED, Wire, etc) ?

								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>Descrição</label>
										<textarea class="form-control"></textarea>
									</div>
								</div>
								<div class="col-lg-12">
                        		    <input type="submit" name="save" id="save" value="Cadastrar Compra" class="btn btn-primary btn-block">
								</div>
							</div>
                    </div>

                </div>

            </div>

		<!-- /parte do indiano -->


        </div>
		</form>
		<!-- /Main Wrapper -->
		<select id="fornecedorSelect" style="display:none;">
						{% for f in fornecedores %}
						<option value="{{ f.id }}" {% if f.id == idFornecedor %} SELECTED {% endif %} >{{ f.nomeFornecedor }}</option>
						{% endfor %}
		</select>

		<div id="cadastrarFornecedorModal" class="modal" style="display: none;">
   			 <div class="modal-content">
      		  <span class="close" onclick="closeModal()">&times;</span>
      		  {% include 'cadastrofornecedormodal.html' %}
    		</div>
		</div>

		<!-- jQuery -->
 			{% include 'footer.html' %}

        <!-- Select2 JS -->
		<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

		<!-- Sweetalert 2 -->
		<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
		<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>


    <script type="text/javascript">

            $(document).ready(function() {

                var html = '<tr><td><div class="row"><select name="produto" class="select"><option value="0">Selecione o Produto</option>{% for p in produtos %}<option value="{{ p.id }}">{{ p.NomeProduto }}</option>{% endfor %}</select></td><td><input type="text" class="form-control" name="qtde" id="tab1" size="4" maxlength="4" autocomplete="off"></td><td><input type="text" class="form-control" name="preco" id="tab1" size="4" maxlength="9" autocomplete="off"></td><td><input type="text" class="form-control" name="total" id="tab1" size="5" maxlength="5" autocomplete="off"></td><td><input class="btn btn-danger" id="remove" type="button" name="remove" value="Apagar" tabindex="-1"></td></div></tr>';

                var max = 10;

                var x = 1;

                $("#add").click(function(){

                    if(x <= max){

                        $("#table_field").append(html);

                        x++;

                    }

                })



                $("#table_field").on('click', '#remove', function() {

                    $(this).closest('tr').remove();

                    x--;

                })



                $('#tab1').on('keydown', function(e){

                    if(e.keyCode == 9){

                        if(x <= max) {

                            $("#table_field").append(html);

                            x++

                        }

                    }

                })



                $("#table_field").on('keydown', '#tab2', function(e) {

                    if(e.keyCode == 9){

                        if (x <= max){

                            $("#table_field").append(html)

                            x++

                        }

                    }

                })

            })

        </script>
		<script>
			var shownVal = document.getElementById("fornecedor").value;
			var value2send = document.querySelector("#fornecedor option[value='"+shownVal+"']").dataset.value;
		</script>

    <script>
    function autocomplete(inp, selectElem, hiddenInput) {
        var currentFocus;

        // Show all options when the input field is focused
        inp.addEventListener("focus", function() {
            var a, b, i;
            closeAllLists();
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);

            // Show all options
            for (i = 0; i < selectElem.options.length; i++) {
                b = document.createElement("DIV");
                b.innerHTML = selectElem.options[i].textContent;
                b.innerHTML += "<input type='hidden' value='" + selectElem.options[i].value + "'>";
                b.innerHTML += "<input type='hidden' data-text='" + selectElem.options[i].textContent + "'>";
                b.addEventListener("click", function(e) {
                    inp.value = this.getElementsByTagName("input")[1].getAttribute("data-text");
                    hiddenInput.value = this.getElementsByTagName("input")[0].value;
                    closeAllLists();
                });
                a.appendChild(b);
            }
        });

        // Filter options as the user types
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            closeAllLists();

            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);

            // If input is not empty, filter options
            if (val) {
                for (i = 0; i < selectElem.options.length; i++) {
                    if (selectElem.options[i].textContent.toUpperCase().includes(val.toUpperCase())) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + selectElem.options[i].textContent.substr(0, val.length) + "</strong>";
                        b.innerHTML += selectElem.options[i].textContent.substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + selectElem.options[i].value + "'>";
                        b.innerHTML += "<input type='hidden' data-text='" + selectElem.options[i].textContent + "'>";
                        b.addEventListener("click", function(e) {
                            inp.value = this.getElementsByTagName("input")[1].getAttribute("data-text");
                            hiddenInput.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            }
        });

        // Handle keyboard navigation (up/down arrow keys)
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode === 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode === 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode === 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });

        // Add active class to highlighted item
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        // Remove active class from all items
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        // Close all autocomplete lists
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt !== x[i] && elmnt !== inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        // Close autocomplete lists when clicking outside
        document.addEventListener("click", function(e) {
            closeAllLists(e.target);
        });
    }

    autocomplete(
        document.getElementById("fornecedorInput"),
        document.getElementById("fornecedorSelect"),
        document.getElementById("fornecedorHidden")
    );
</script>

<script>
    function openModal() {
        document.getElementById("cadastrarFornecedorModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("cadastrarFornecedorModal").style.display = "none";
    }

    window.onclick = function(event) {
        const modal = document.getElementById("cadastrarFornecedorModal");
        if (event.target == modal) {
            closeModal();
        }
    }
</script>

<script>
$(document).ready(function () {
    $('#formCompra').on('submit', function (e) {
        var fornecedorHidden = $('#fornecedorHidden').val().trim();

        if (!fornecedorHidden) {
            e.preventDefault(); // Impede o envio do formulário

            // Exibe alerta com SweetAlert2 e classes customizadas
            Swal.fire({
                icon: 'warning',
                title: 'Fornecedor Não Cadastrado',
                confirmButtonText: 'OK',
                customClass: {
                    confirmButton: 'btn btn-primary me-3 confirm-text'
                },
                buttonsStyling: false
            });
        }
    });
});
</script>
<script>
$(document).ready(function() {

    // Converte e formata valores em BRL
    function formatCurrency(input) {
        let value = input.val().replace(/\D/g, '');
        value = (value/100).toFixed(2) + '';
        value = value.replace(".", ",");
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        input.val(value);
    }

    // Atualiza total de uma linha
    function updateTotalRow(row) {
        let qtde = row.find('input[name="qtde"]').val().replace(/\D/g,'');
        let preco = row.find('input[name="preco"]').val().replace(/\D/g,'');
        let totalValue = 0;

        if(qtde && preco){
            totalValue = parseInt(qtde) * parseInt(preco) / 100;
            let totalStr = totalValue.toFixed(2).replace(".", ",").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            row.find('input[name="total"]').val(totalStr);
        } else {
            row.find('input[name="total"]').val('');
        }

        updateTotalCompra();
    }

    // Atualiza o valor total da compra
    function updateTotalCompra() {
        let soma = 0;
        $('#table_field tr').each(function() {
            let val = $(this).find('input[name="total"]').val();
            if(val){
                val = val.replace(/\./g,'').replace(',', '.');
                soma += parseFloat(val);
            }
        });
        let somaStr = soma.toFixed(2).replace(".", ",").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        $('#valorTotalCompra').val(somaStr);
    }

    // Atualiza total ao digitar qtde ou preco
    $('#table_field').on('input', 'input[name="qtde"]', function() {
        this.value = this.value.replace(/\D/g,'');
        updateTotalRow($(this).closest('tr'));
    });

    $('#table_field').on('input', 'input[name="preco"]', function() {
        formatCurrency($(this));
        updateTotalRow($(this).closest('tr'));
    });

    // Inicializa total geral ao carregar
    $('#table_field tr').each(function() {
        updateTotalRow($(this));
    });

    // Atualiza total ao adicionar ou remover linhas
    $("#add").click(function() {
        setTimeout(function() {
            $('#table_field tr').each(function() {
                updateTotalRow($(this));
            });
        }, 100);
    });

    $("#table_field").on('click', '#remove', function() {
        setTimeout(updateTotalCompra, 100);
    });

});

</script>
<script>
$(document).ready(function () {
  $('#formCompra').on('submit', function (e) {
    let erro = null;

    // ===== 1. Fornecedor =====
    var fornecedorHidden = $('#fornecedorHidden').val().trim();
    if (!fornecedorHidden) {
      erro = "Fornecedor não selecionado.";
    }

    // ===== 2. Produtos (só executa se não houve erro antes) =====
    if (!erro) {
      $('#table_field tr').each(function () {
        const produtoVal = $(this).find('select[name="produto"]').val();
        const qtdeVal   = ( $(this).find('input[name="qtde"]').val()  || '' ).trim();
        const precoVal  = ( $(this).find('input[name="preco"]').val() || '' ).trim();

        const temQtde  = qtdeVal !== '' && qtdeVal !== '0';
        const temPreco = precoVal !== '' && precoVal !== '0';

        // Caso 1: há quantidade e preço, mas produto não foi selecionado
        if (temQtde && temPreco && (!produtoVal || produtoVal === '0')) {
          erro = 'Selecione o produto nas linhas em que Quantidade e Preço foram preenchidos.';
          return false; // interrompe o .each
        }

        // Caso 2: produto selecionado, mas faltou qtde/preço
        if (produtoVal && produtoVal !== '0') {
          if (!temQtde) { erro = 'Quantidade não preenchida ou inválida.'; return false; }
          if (!temPreco){ erro = 'Preço não preenchido ou inválido.';     return false; }
        }
      });
    }

    // ===== Se houve erro, exibe alerta e impede envio =====
    if (erro) {
      e.preventDefault();
      Swal.fire({
        icon: 'warning',
        title: erro,
        confirmButtonText: 'OK',
        customClass: { confirmButton: 'btn btn-primary me-3 confirm-text' },
        buttonsStyling: false
      });
      return false;
    }

    // Se passou de todas validações, continua com o envio normal
  });
});
</script>
  <script>
$(document).ready(function() {

    $('#formCompra').on('submit', function(e) {
        $('#table_field tr').each(function() {
            let qtdeInput = $(this).find('input[name="qtde"]');
            let precoInput = $(this).find('input[name="preco"]');

            if(qtdeInput.length && qtdeInput.val()) {
                // Converte qtde para padrão americano (substitui ',' por '.')
                qtdeInput.val(qtdeInput.val().replace(',', '.'));
            }

            if(precoInput.length && precoInput.val()) {
                // Remove pontos de milhar e converte ',' para '.'
                let preco = precoInput.val().replace(/\./g, '').replace(',', '.');
                precoInput.val(preco);
            }
        });
    });

});
</script>
    </body>
</html>