{% load static %}

		<!-- jQuery -->
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

		<!-- Feather Icon JS -->
		<script src="{% static 'js/feather.min.js' %}"></script>

		<!-- Slimscroll JS -->
		<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

		<!-- Datatable JS -->
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>


</script>
		<!-- Bootstrap Core JS -->
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

		<!-- Datetimepicker JS -->
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

			<!-- Select2 JS -->
			<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

			<!-- Sweetalert 2 -->
			<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
			<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'js/script.js' %}"></script>

<style>
/* Alinha o campo de busca do DataTables à esquerda (Bootstrap 4) */
div.dataTables_wrapper div.dataTables_filter {
  text-align: left !important;
}
div.dataTables_wrapper div.dataTables_filter label {
  float: left !important;
}
</style>