{% load static %}
{% load l10n %}
<!DOCTYPE html>
				<!-- Header -->
				{% include 'head.html' %}
				<!-- Sidebar -->
				{% include 'sidebar.html' %}
				<!-- /Sidebar -->

				<div class="page-wrapper">
					<div class="content">
						<div class="page-header">
							<div class="page-title">
								<h4>Lista de Compras</h4>
								<h6>Gerencie suas Compras</h6>
							</div>
							<div class="page-btn">
								<a href="{% url 'fazercompras' %}}" class="btn btn-added">
									<img src="{% static 'img/icons/plus.svg' %}" alt="img">Fazer Nova Compra
								</a>
							</div>
						</div>

						<!-- /product list -->
						<div class="card">
							<div class="card-body">
								<div class="table-top">
									<div class="search-set">
										<div class="search-path">
											<a class="btn btn-filter" id="filter_search">
												<img src="{% static 'img/icons/filter.svg' %}" alt="img">
												<span><img src="{% static 'img/icons/closes.svg' %}" alt="img"></span>
											</a>
										</div>
										<div class="search-input">
											<a class="btn btn-searchset"><img src="{% static 'img/icons/search-white.svg' %}" alt="img"></a>
										</div>
									</div>
									<div class="wordset">
										<ul>
											<li>
												<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'img/icons/pdf.svg' %}" alt="img"></a>
											</li>
											<li>
												<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'img/icons/excel.svg' %}" alt="img"></a>
											</li>
											<li>
												<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'img/icons/printer.svg' %}" alt="img"></a>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Filter -->
								<div class="card" id="filter_inputs">
									<div class="card-body pb-0">
										<div class="row">
											<div class="col-lg col-sm-6 col-12">
												<div class="form-group">
													<input type="text" class="datetimepicker cal-icon" placeholder="Choose Date" >
												</div>
											</div>
											<div class="col-lg col-sm-6 col-12">
												<div class="form-group">
													<input type="text" placeholder="Enter Reference">
												</div>
											</div>
											<div class="col-lg col-sm-6 col-12">
												<div class="form-group">
													<select class="select">
														<option>Choose Supplier</option>
														<option>Supplier</option>
													</select>
												</div>
											</div>
											<div class="col-lg col-sm-6 col-12">
												<div class="form-group">
													<select class="select">
														<option>Choose Status</option>
														<option>Inprogress</option>
													</select>
												</div>
											</div>
											<div class="col-lg col-sm-6 col-12">
												<div class="form-group">
													<select class="select">
														<option>Choose Payment Status</option>
														<option>Payment Status</option>
													</select>
												</div>
											</div>
											<div class="col-lg-1 col-sm-6 col-12">
												<div class="form-group">
													<a class="btn btn-filters ms-auto"><img src="{% static 'img/icons/search-whites.svg' %}" alt="img"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Filter -->
								<div class="table-responsive">
									<table class="table datanew">
										<thead>
											<tr>
												<th>
													<label class="checkboxs">
														<input type="checkbox" id="select-all">
														<span class="checkmarks"></span>
													</label>
												</th>
												<th>Fornecedor</th>
												<th>Identificador de Compra</th>
												<th>Data</th>
												<th>Valor de Compra</th>
												<th>Localização da Compra</th>
												<th>Ação</th>
											</tr>
										</thead>
										<tbody>
										{% for compra in listarCompras %}
											<tr>
												<td>
													<label class="checkboxs">
														<input type="checkbox">
														<span class="checkmarks"></span>
													</label>
												</td>
												<td class="text-bolds">{{ compra.fornecedor.nomeFornecedor}}</td>
												<td>{{ compra.idCompra}}</td>
												<td>{{ compra.dataCompra }}</td>
												<td>{{ compra.valorCompra}}</td>
												<td><span class="badges bg-lightgreen">{{ compra.localizacaoCompra }}</span></td>
												<td>
													
													<a class="me-3" href="/editarcompra/?idCompra={{ compra.idCompra }}">
														<img src="{% static 'img/icons/edit.svg' %}" alt="img">
													</a>
													<a class="me-3 confirm-text" href="javascript:void(0);">
														<img src="{% static 'img/icons/delete.svg' %}" alt="img">
													</a>
												</td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- /product list -->
					</div>
				</div>
			</div>
			<!-- /Main Wrapper -->
            {% include 'footer.html' %}
			
		</body>
	</html>