{% load static %}
<!DOCTYPE html>
 			<!-- Header -->
			{% include 'head.html' %}
			<!-- /header -->
			<!-- Sidebar -->
			{% include 'sidebar.html' %}
			<!-- /Sidebar -->
			
			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Lista de Movimentações</h4>
							<h6>Gerencie suas Movimentações Financeiras</h6>
						</div>
						<div class="page-btn">
							<a href="/comprardolar/" class="btn btn-added"><img src="{% static 'img/icons/plus.svg' %}" alt="img" class="me-1">Comprar Dólar</a>
						</div>
					</div>
					{% if mensagem != "" %}
					<div class="closebtn">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						Movimentação Apagada.
					</div>
					{% endif %}
					<form method="POST" action="{% url 'listarmovimentacoes' %}">
					{% csrf_token %}
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Data Início </label>
										<div class="input-groupicon">
											<input type="text" placeholder="DD-MM-AAAA" class="datetimepicker" name="data_inicio" value="{{dataCompra}}">
											<div class="addonset">
												<img src="{% static 'img/icons/calendars.svg' %}" alt="img">
											</div>
										</div>
										<label>Data Fim </label>
										<div class="input-groupicon">
											<input type="text" placeholder="DD-MM-AAAA" class="datetimepicker" name="data_fim" value="{{dataCompra}}">
											<div class="addonset">
												<img src="{% static 'img/icons/calendars.svg' %}" alt="img">
											</div>
										</div>

									</div>
								</div>
						       <div class="col-lg-12">
                        		    <input type="submit" name="save" id="save" value="Buscar Movimentações" class="btn btn-primary btn-block">
								</div>
					</form>
					<!-- /product list -->
					<div class="card">
						<div class="card-body">
							<div class="table-top">
								<div class="search-set">
									<div class="search-path">
										<a class="btn btn-filter" id="filter_search">
											<img src="{% static 'img/icons/filter.svg' %}" alt="img">
											<span><img src="{% static 'img/icons/closes.svg' %}" alt="img"></span>
										</a>
									</div>
									<div class="search-input">
										<a class="btn btn-searchset"><img src="{% static 'img/icons/search-white.svg' %}" alt="img"></a>
									</div>
								</div>
								<div class="wordset">
									<ul>
										<li>
											<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'img/icons/pdf.svg' %}" alt="img"></a>
										</li>
										<li>
											<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'img/icons/excel.svg' %}" alt="img"></a>
										</li>
										<li>
											<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'img/icons/printer.svg' %}" alt="img"></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Filter -->
							<div class="card mb-0" id="filter_inputs">
								<div class="card-body pb-0">
									<div class="row">
										<div class="col-lg-12 col-sm-12">
											<div class="row">
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Choose Product</option>
															<option>Macbook pro</option>
															<option>Orange</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Choose Category</option>
															<option>Computers</option>
															<option>Fruits</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Choose Sub Category</option>
															<option>Computer</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Brand</option>
															<option>N/D</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12 ">
													<div class="form-group">
														<select class="select">
															<option>Price</option>
															<option>150.00</option>
														</select>
													</div>
												</div>
												<div class="col-lg-1 col-sm-6 col-12">
													<div class="form-group">
														<a class="btn btn-filters ms-auto"><img src="{% static 'img/icons/search-whites.svg' %}" alt="img"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Filter -->
							<div class="table-responsive">
								<table class="table  datanew">
									<thead>
										<tr>
											<th></th>
											<th>Data</th>
											<th>Conta de Origem</th>
											<th>Conta de Destino</th>
											<th>Valor na Conta de Origem</th>
											<th>Valor na Conta de Destino</th>
											<th>Apagar</th>
										</tr>
									</thead>
									<tbody>
									<!-- Iteracao Produtos -->
									{% for movimentacao in movimentacaoContas %}
										<tr>
											<td></td>
											<td>{{ movimentacao.data }}</td>
											<td>{{ movimentacao.contaOrigem }}</td>
											<td>{{ movimentacao.contaDestino }}	</td>
											<td>{{ movimentacao.valorContaOrigem|floatformat:2 }}</td>
											<td>{{ movimentacao.valorContaDestino|floatformat:2 }}</td>

											<td><a class="confirm-text"  href="{% url 'listarmovimentacoes' %}?idMovimento={{ movimentacao.idMovimento }}&funcao=apagar" onclick="javascript:void(0);">
												<img src="{% static 'img/icons/delete.svg' %}" alt="img">
												</a></td>
										</tr>
										{% endfor %}
										<!-- /Iteracao Produtos -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /product list -->
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		 
		<!-- jQuery -->
 			{% include 'footer.html' %}
        <!-- Select2 JS -->
		<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

		<!-- Sweetalert 2 -->
		<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
		<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>
    </body>
</html>