{% load static %}

			<div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="active">
								<a href="/" ><img src="{% static 'img/icons/dashboard.svg' %}" alt="img"><span> Resumo</span> </a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/product.svg' %}" alt="img"><span> Produtos</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/productlist/"> Lista de Produtos</a></li>
									<li><a href="/addproduct/">Adicionar Produtos</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/sales1.svg' %}" alt="img"><span> Vendas</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/listarvendas/">Lista de Vendas</a></li>
									<li><a href="/fazervendas/">Fazer Venda</a></li>
									<li><a href="/parcelasareceber/">Parcelas a Receber</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/purchase1.svg' %}" alt="img"><span> Compras</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/listarcompras/">Lista de Compras</a></li>
									<li><a href="/fazercompras/">Fazer Compra</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/expense1.svg' %}" alt="img"><span> Contas</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/listarconta/">Lista de Contas</a></li>
									<li><a href="/listarmovimentacoes/">Lista de Movimentações</a></li>
									<li><a href="/criarconta/">Adicionar Conta</a></li>
									<li><a href="/comprardolar/">Comprar Dólar</a></li>
									<li><a href="/adicionarfundos/">Adicionar Saldo</a></li>
									<li><a href="/retirada/">Retirada</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/quotation1.svg' %}" alt="img"><span> Despesas</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/adicionardespesa/">Adicionar Despesas</a></li>
									<li><a href="/despesasperiodicas/">Despesas Periódicas</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/users1.svg' %}" alt="img"><span> Cadastros</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/cadastrofornecedor/">Cadastro de Fornecedor</a></li>
									<li><a href="/cadastrocliente/">Cadastro de Cliente</a></li>
									<li><a href="/cadastrolocalizacao/">Cadastro de Localização</a></li>
								</ul>
							</li>
							
							<li  class="submenu">
								<a href="javascript:void(0);"><i data-feather="file"></i> <span> Relatórios  </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="error-404.html">404 Error </a></li>
									<li><a href="error-500.html">500 Error </a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
