{% load static %}
{% load permissoes_tags %}
			<div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
                            {% if request.user.is_superuser %}
							<li class="active">
								<a href="/" ><img src="{% static 'img/icons/dashboard.svg' %}" alt="img"><span> Resumo</span> </a>
							</li>
                            {% endif %}
                            {% pode_ver 'Produtos.view_produto' as pode_ver_produto %}
                            {% if pode_ver_produto %}
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/product.svg' %}" alt="img"><span> Produtos</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/productlist/"> Lista de Produtos</a></li>
                                    {% pode_ver 'Produtos.add_produto' as pode_adicionar_produto %}
                                    {% if pode_adicionar_produto %}
                                    <li><a href="/addproduct/">Adicionar Produtos</a></li>
								     {% endif %}
                                </ul>
							</li>
                            {% endif %}
                            {% pode_ver 'Vendas.view_venda' as pode_ver_venda %}
                            {% if pode_ver_venda %}
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/sales1.svg' %}" alt="img"><span> Vendas</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/listarvendas/">Lista de Vendas</a></li>
									<li><a href="/fazervendasaparelhos/">Fazer Venda Aparelhos</a></li>
									<li><a href="/fazervendaspecas/">Fazer Venda Peças</a></li>
									<li><a href="/parcelasareceber/">Parcelas a Receber</a></li>
								</ul>
							</li>
                            {% endif %}
                            {% pode_ver 'Compras.view_compra' as pode_ver_compra %}
                            {% if pode_ver_compra %}
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/purchase1.svg' %}" alt="img"><span> Compras</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/listarcompras/">Lista de Compras</a></li>
									<li><a href="/fazercomprasaparelhos/">Fazer Compra Aparelhos</a></li>
									<li><a href="/fazercompraspecas/">Fazer Compra Peças</a></li>
								</ul>
							</li>
                            {% endif %}

                            {% pode_ver 'Contas.view_conta' as pode_ver_conta %}
                            {% if pode_ver_conta %}
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/expense1.svg' %}" alt="img"><span> Contas</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/listarconta/">Lista de Contas</a></li>
									<li><a href="/listarmovimentacoes/">Lista de Movimentações</a></li>
									<li><a href="/criarconta/">Adicionar Conta</a></li>
									<li><a href="/comprardolar/">Comprar Dólar</a></li>
									<li><a href="/adicionarfundos/">Adicionar Saldo</a></li>
									<li><a href="/retirada/">Retirada</a></li>
								</ul>
							</li>
                            {% endif %}
                            {% pode_ver 'Despesas.view_despesa' as pode_ver_despesa %}
                            {% if pode_ver_despesa %}
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/quotation1.svg' %}" alt="img"><span> Despesas</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/adicionardespesa/">Adicionar e Remover Despesas</a></li>
									<li><a href="/despesasperiodicas/">Listar Despesas Periódicas</a></li>
								</ul>
							</li>
                            {% endif %}
                            {% pode_ver 'Cadastro.view_Cadastro' as pode_ver_cadastro %}
                            {% if pode_ver_cadastro %}
							<li class="submenu">
								<a href="javascript:void(0);"><img src="{% static 'img/icons/users1.svg' %}" alt="img"><span> Cadastros</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/cadastrofornecedor/">Cadastro de Fornecedor</a></li>
									<li><a href="/cadastrocliente/">Cadastro de Cliente</a></li>
									<li><a href="/cadastrolocalizacao/">Cadastro de Localização</a></li>
								</ul>
							</li>
                            {% endif %}
                            {% pode_ver 'Relatorios.view_Relatorio' as pode_ver_relatorio %}
                            {% if pode_ver_relatorio %}
							<li  class="submenu">
								<a href="javascript:void(0);"><i data-feather="file"></i> <span> Relatórios  </span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="/relatorioproduto/">Movimentação de Produtos</a></li>
									<li><a href="/relatoriorecebimentosconta/">Recebimentos por Conta</a></li>
                                    <li><a href="/relatoriorecebimentosproduto/">Recebimentos por Produto</a></li>
								</ul>
							</li>
                            {% endif %}
						</ul>
					</div>
				</div>
			</div>
