										<label>Fornecedor</label>
										{% if idFornecedor  %}
											<input type="hidden" name="fornecedor" value="{{idFornecedor}}" >
											{% for c in fornecedores %}
												{% if c.id == idFornecedor %} <font size="16"> <b>{{ c.nomeFornecedor }}</b> </font> {% endif %}
											{% endfor %}
										{% else %}
										<div class="row">
											<div class="col-lg-10 col-sm-10 col-10">
												<div class="autocomplete" style="width:300px;">
           										 <input id="fornecedorInput" type="text" placeholder="Fornecedor" autocomplete="off">
															<input type="hidden" id="fornecedorHidden" name="fornecedor">
            								<div id="fornecedorAutocompleteList" class="autocomplete-items"></div>
        								</div>
										{% endif %}

